node_modules/
dist/
*.log
.DS_Store
*.tsbuildinfo
# packages/*/node_modules/
packages/*/dist/
packages/*/dist-chrome/
packages/*/dist-firefox/
*.cpuprofile

# Environment
.env

# Editor files
.vscode/
.zed/
.idea/
.claude/
*.swp
*.swo
*~

# Package specific
.npm/
coverage/
.nyc_output/
.pi_config/
tui-debug.log
compaction-results/
.opencode/
syntax.jsonl
out.jsonl
pi-*.html
out.html
packages/coding-agent/binaries/
packages/minicode/build-info.*
packages/coding-agent/src/embedded.ts
todo.md
plans/
.pi/hf-sessions/
.pi/hf-sessions-backup/
collect.sh

pi.exe
minicode.exe
